<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <!-- Flatpickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ru.js"></script>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/profile.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="js/scripts.js" defer></script>
    <script src="js/profile.js" defer></script>
    <title>ABC-анализ успеваемости и посещаемости</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>

    <div class="header">  
        <div class="profile-container">
            <div class="profile-icon" id="profileIcon">
                <img id="userPhoto" src="/static/profile.png" alt="Профиль" />
            </div>
            <div class="profile-dropdown" id="profileDropdown">
                <a href="{{ url_for('profile') }}" class="dropdown-button">Профиль</a>
                <a href="{{ url_for('logout') }}" class="dropdown-button">Выход</a>
            </div>
        </div> 

        <img src="/static/favicon.png" alt="Логотип" class="header-logo" />
        <a href="/main">Главная</a>
    </div>

    <div class="container">
        <h1>Загрузка данных учеников</h1>
        <div class="analysis-options">
            <select id="classSelect">
                <option value="">Выберите класс</option>
                <!-- Динамически заполняемые классы -->
            </select>
            <select id="classLetterSelect">
                <option value="">Выберите букву класса</option>
                <!-- Динамически заполняемые буквы классов -->
            </select>
            <select id="subjectSelect">
                <option value="">Выберите предмет</option>
                <!-- Динамически заполняемые предметы -->
            </select>
            <select id="teacherSelect">
                <option value="">Выберите преподавателя</option>
                <!-- Динамически заполняемые преподаватели -->
            </select>
            <select id="performanceSelect">
                <option value="grades">Успеваемость</option>
                <option value="attendance">Посещаемость</option>
            </select>
            <select id="periodSelect">
                <option value="">Выберите период</option>
                <!-- Динамически заполняемые периоды -->
            </select>
            <select id="periodSelectYear">
                <option value="">Выберите год обучения</option>
                <!-- Динамически заполняемые года обучения -->
            </select>
        </div>
        <button onclick="loadData()">Загрузить данные</button>
    </div>    

    <div class="containerForUpload">
        <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
            <div class="upload-area" id="uploadArea">
                <img src="/static/upload.png" alt="Upload Icon" width="50">
                <p>Перетащите файлы сюда</p>
                <label for="fileInput" style="cursor: pointer; color: #007bff;">Выберите файл</label>
                <input type="file" id="fileInput" style="display: none;">
            </div>
            <button class="start-button">Загрузить файл Excel</button>
        </form>
    </div>

    <div class="containerForUploadPhotos">
        <form id="photoUploadForm" action="/upload_photos" method="post" enctype="multipart/form-data">
            <!-- Выбор предмета -->
            <div class="form-group styled-select">
                <label for="subjectSelectPhoto">Выберите предмет:</label>
                <select id="subjectSelectPhoto" name="subject" required>
                    <option value="" disabled selected>Выберите предмет</option>
                    {% for subject in subjects %}
                    <option value="{{ subject.id_subject }}">{{ subject.name }}</option>
                    {% endfor %}
                </select>
            </div>
    
            <!-- Выбор класса -->
            <div class="form-group styled-select">
                <label for="classSelectPhoto">Выберите класс:</label>
                <select id="classSelectPhoto" name="class_name" required>
                    <option value="" disabled selected>Выберите класс</option>
                    {% for class_number, class_letter in classes %}
                    <option value="{{ class_number }} {{ class_letter }}">{{ class_number }} {{ class_letter }}</option>
                    {% endfor %}
                </select>
            </div>
    
            <!-- Календарь выбора нескольких дат -->
            <div class="calendar-wrapper">
                <label for="calendarInput">Выберите даты:</label>
                <div id="calendarInput"></div>
                <div id="selectedDatesList" class="selected-dates-list"></div>
            </div>
            
    
            <!-- Область для загрузки фотографий -->
            <div id="photoUploadArea">
                <img src="/static/upload_photo.png" alt="Upload Icon" width="50">
                <p>Перетащите фото сюда</p>
                <label for="photoInput" class="photo-input-label" style="cursor: pointer; color: #007bff;">Выберите фото</label>
                <input type="file" id="photoInput" name="photos" multiple style="display: none;">
            </div>
    
            <!-- Контейнер для превью фотографий -->
            <div id="photoPreviewContainer" class="photo-preview-container">
                <!-- Миниатюры загруженных фото будут добавлены сюда -->
            </div>
    
            <!-- Кнопка загрузки -->
            <button class="upload-button" type="submit">Загрузить фото</button>
        </form>
    </div>
    
    
    

    <div class="containerTable" style="display: none;">
        <table id="studentTable">
            <thead>
                    <!-- Headers will be dynamically populated here -->
            </thead>
            <tbody>
                <!-- Data will be dynamically populated here -->
            </tbody>
        </table>
        <button onclick="analyzeABCData()">Выполнить ABC-анализ</button>
    </div>

    <button id="settingsBtn" class="settings-btn">
        <img src="/static/settings.png">
        <i class="fas fa-cog"></i>
    </button>
    <div id="settingsMenu" class="settings-menu">
        <h2>Настройки ABC-анализа</h2>
        <div class="slider-container">
            <label for="thresholdA">Порог категории A:</label>
            <input type="number" id="thresholdA" value="0.7" step="0.05" min="0" max="1">
        </div>
        <div class="slider-container">
            <label for="thresholdB">Порог категории B:</label>
            <input type="number" id="thresholdB" value="0.2" step="0.05" min="0" max="1">
        </div>
        <div class="slider-container">
            <label for="thresholdC">Порог категории C:</label>
            <input type="number" id="thresholdC" value="0.1" step="0.05" min="0" max="1">
        </div>        
        <div class="slider-container">
            <label for="analysisType">Тип анализа:</label>
            <select id="analysisType">
                <option value="attendance">Посещаемость</option>
                <option value="performance">Успеваемость</option>
            </select>
        </div>
        <div class="slider-container">
            <label for="analysisMeasure">Мера (ABC-анализа):</label>
            <select id="analysisMeasure">
                <option value="averageGrade">Средняя оценка</option>
                <option value="gradePeriod">Оценка за период</option>
                <option value="quarter1">1 четверть</option>
                <option value="quarter2">2 четверть</option>
                <option value="quarter3">3 четверть</option>
                <option value="quarter4">4 четверть</option>
                <option value="year">Год</option>
                <option value="medium1">1 полугодие</option>
                <option value="medium2">2 полугодие</option>
                <option value="yearTotal">Итог.</option>
                <option value="periodTotal">Итог за период</option>
            </select>
        </div>
    </div>

    <h1 id="analysisHeader" style="display: none;">ABC-анализ успеваемости</h1>
    <div class="containerTable1" style="display: none;">
        <table id="resTable">
            <thead>

            </thead>
            <tbody>
                <!-- Результаты ABC-анализа будут отображены здесь -->
            </tbody>
        </table>
    </div>

    <div class="containerTable1" style="display: none;">
    <div id="chart_div" style="width: 100%; height: 700px;"></div>
    </div>

    <div id="recommendations" style="display: none;">
        <h2>Рекомендации по группам ABC-анализа:</h2>
        <p><strong class="group-A">Группа A:</strong> Ученики с высокими показателями, требующие минимального внимания и поддержки.</p>
        <p><strong class="group-B">Группа B:</strong> Ученики со средними показателями, которые требуют некоторого внимания и поддержки.</p>
        <p><strong class="group-C">Группа C:</strong> Ученики с низкими показателями, которым требуется особое внимание и дополнительная поддержка для улучшения результатов.</p>
    </div>    
</body>
</html>
