<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link rel="stylesheet" href="css/profile-main.css">
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="css/profile-modal.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/profile.js" defer></script>
    <script src="js/profile-modal.js" defer></script>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="profile-container">
        <div class="profile-icon" id="profileIcon">
            <img id="userPhoto" src="/static/profile.png" alt="Профиль" />
        </div>
        <div class="profile-dropdown" id="profileDropdown">
            <a href="{{ url_for('profile') }}" class="dropdown-button">Профиль</a>
            <a href="{{ url_for('logout') }}" class="dropdown-button">Выход</a>
        </div>
        <a href="/main" class="main-button">Главная</a>
    </div>

    {% if show_upload_modal %}
    <div id="uploadPhotoModal" class="modal">
        <div class="modal-content">
            <div class="header_upload">
                <h2>Загрузите фото</h2>
            </div>
        
            <div id="flashMessages"></div> <!-- Контейнер для flash-сообщений -->
    
            <form id="photoUploadForm" enctype="multipart/form-data">
                <label for="photoInput">Выберите фото:</label>
                <input type="file" id="photoInput" name="photo" accept="image/*" required>
                <button type="submit" class="upload-button">Загрузить</button>
            </form>
        </div>
    </div>
    {% endif %}

    <div id="changePhotoModal" class="newModal">
        <div class="new-modal-content">
            <button id="closeChangePhotoModal" class="close-button">&times;</button>
            <div class="header_upload">
                <h2>Изменение фото профиля</h2>
            </div>

            <div id="newFlashMessages"></div> <!-- Контейнер для flash-сообщений -->

            <form id="changePhotoForm" enctype="multipart/form-data">
                <label for="newPhotoInput">Выберите новое фото:</label>
                <input type="file" id="newPhotoInput" name="photo" accept="image/*" required>
                <button type="submit" class="upload-button">Сохранить</button>
            </form>
        </div>
    </div>
    
    

    <div class="profile-wrapper">
        <div class="profile-main-container">
            <img id="userPhotoMain" src="/static/profile.png" alt="Профиль" title="Нажмите, чтобы изменить фото" />
            <h2>{{ user_last_name }} {{ user_first_name }}{% if user_middle_name %} {{ user_middle_name }}{% endif %}</h2>
        </div>

        <div class="profile-info-container">
            <h3>
                {% if user_role == 'teacher' %}
                    Проводимые анализы
                {% elif user_role == 'student' %}
                    Статистика успеваемости и посещаемости
                {% endif %}
            </h3>
        </div>
    </div>
</body>
</html>
